<doctype html>
<head>
    <title>search!</title>
</head>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<div class="container">

<h2>arXiv database search</h2>

  <form class="search_form" method="get" action="{{ url_for('search') }}">
    <div class="form-group">
      {{ g.search_form.q(size=20, class='form-control',
      placeholder=g.search_form.q.label.text) }}
    </div>
  </form>


{% for message in get_flashed_messages() %}
  <div class="alert alert-warning">
    {{ message }}
  </div>
{% endfor %}

{% block content %}{% endblock %}

</div>